<div class="container">

  <h1>Welcome to the super secret government secrets login!</h1>
  <h3>Log In.</h3>
  <form action="/login" method="post">
    <label>user name:<input type="text" name="user[user_name]"></label>
    <br>
    <label>password:<input type="password" name="user[password]"></label>
    <br>
    <input type="submit" value="login">
  </form>
  
    <br><br>
  <h3>Sign Up.</h3>
    <form action="/signup" method="post">
    <label>your name:<input type="text" name="user[name]"></label>
    <br>
    <label>user name:<input type="text" name="user[user_name]"></label>
    <br>
    <label>email:<input type="text" name="user[email]"></label>
    <br>
    <label>password:<input type="password" name="user[password]"></label>
    <br>
    <label>password_confirmation:<input type="password" name="user[password_confirmation]"></label>
    <br>
    <input type="submit" value="login">
  </form>
</div>
