<p>Hello <%=User.find(session[:user_id]).name %>. This is your secret page!</p>

<p id='logout'>
    <a href="/log_me_out">
        <img src="thegos.jpg">
    </a>
    <br>Click on the Gos to log out.</a>
</p>
